	/*================
				DEFAULT / MOBILE CSS 
				================*/
				
				* {
					box-sizing: border-box;
				}
								
				a {
					color: #58391C;
					font-weight: bold;
					text-decoration: none;					
					border-bottom: 5px solid transparent;
				}

				

				/* MAIN LAYOUT */
			body {
				margin: 0;
				font-family: Comfortaa, Verdana, Geneva, Tahoma, sans-serif;
				background-image: url("../images/bricks.jpg");
				
			}
			
			.content {
				max-width: 90%;	/*want a littler border - too much white on mobile otherwise*/
				margin: auto;
			}
			
			.banner, .footer {
				
			}
		
			.content {
				background-image: none;
			}
			
			.footer {
				margin-top: 5em;
			}

			.footer-people {
				text-align: center;
			}
			
			.footer-designed, .footer-disclaimer {		
				margin-top: -4px;			/* fix for spacing issue with footer people */
				text-align: center;
				padding: 1em;
				background-color: #D8C6A5;
			}

			
			.footer-disclaimer {
				padding-top: 4em;
			}

			
			
			/* BANNER SECTION */
			.banner-logo, .banner-image {
				max-width: 100%;
				text-align: center;
			}
			
			.banner-logo>img {
				width: 18em;
				height: auto;
				padding-top: 2em;
				padding-bottom: 2em;
			}
			
			.banner-image>img {
				width: 15em;
				height: auto;
			}
						
			.menu-banner {
				display: none; /* no need to fill the lower screen with this */	
				background-color: #D8C6A5;
				height: 10em;
			}
						


			/* BODY/PANELS */
			.panel {		
				display: inline-block;	/* need to avoid collapsing margins */
				padding: 3em;
				width: 100%;
				margin: 2em 0em;
				background-color: #fff;
				overflow-wrap: break-word;
				
			}
		
			.panel-heading {
				font-family: Boulevard;
				font-size: 40pt;
			}
						
			.panel-content {
			    display: flex;
				flex-direction: column;
			}
			
			.panel .panel-writing {
				margin-bottom: 2em;
			}
						
			.panel .panel-image {
				text-align: center;
				
			}	

			.panel-us .panel-writing p:last-of-type {
				font-family: Boulevard;
				font-size: 36pt;
				margin: 0px;
				float: right;
			}

			.panel-image img {
					display: inline;
					height: 20em;
					width: auto;	
				position: relative;	
				}
			
			.panel-menu .panel-content {
				flex-direction: column-reverse; /*want the chef img on the left*/
			}
			
			
			.cafe-menu-item {
				padding: 1em;
			}

			.cafe-menu-item-name {
				font-family: HomemadeApple;
				font-size: 20pt;
			}

			.cafe-menu-item-description {
				font-family: Comfortaa;
				font-size: 10pt;
				padding-left: 12px;
				padding-right: 12px;
			}

			.cafe-menu-item-cost {
				text-align: right;
				font-size: 32pt;
				margin-top: -22px;
				font-weight: bold;
				font-family: HomemadeApple;
				font-weight: 400;
			}
			

		
			/* DESKTOP MENU */
			.menu {				
				position: relative;
				background-color: #D8C6A5;
				z-index: 1;	/* higher than absolute positioned menu-chef */
			}
			
			.menu-grid {
				display: grid;
				grid-gap: 10px;
				align-content: space-around;
			}
			
			.menu-item {				
				text-align: center;
				color: #58391C;
				font-weight: bold;
				text-decoration: none;
				padding: 5px 0em 5px 0em;
				cursor:pointer;
			}
			
			.menu-item:first-of-type {
				margin-top: 1em;
			}
			
			.menu-item:last-of-type {
				margin-bottom: 1em;
			}
			
			
			.menu-item a {
				display: inline-block;
			}
			
			
			
			
			/* MOBILE MENU */
			.mobile-menu-icon {
				cursor:pointer;
				background-image: url("../images/mobile-menu-open.png");
				background-size: 50px 50px;
				height: 50px;
				width: 50px;
				z-index: 3; /*otherwise sinks under the menu when it pops out */
				position: fixed;
				top: 10px;
				left: 10px;
				transition: background-image 0.5s;
			}

			.mobile-menu-icon-active {
				background-image: url("../images/mobile-menu-close.png");
				transition: background-image 0.5s;
			}
			
			.mobile-menu {
				z-index: 2; /*otherwise sinks under the main menu div */
				position: fixed;
				width: 100%;
				transform: translate(-100%);
				transition: all 0.5s;
				
				background-color: #D8C6A5;
				
			}
			
			.mobile-menu ul li {
				display: block;
				padding: 10px 50px 10px 25px;
			}
			
			.mobile-menu-showing {					
				transform: translate(0em);
				transition: all 0.5s;
			}

		

				.panel-contact .panel-content{
					flex-direction: column;
				}
				
				
				
				.panel-contact .panel-img:  {
					
				}
				
				.contact-list {
					padding: 0em;
				}
				
				.contact-item {
					display: block;
					padding: 1em 1em 1em 5em;
					background-size: auto 40px;
					background-repeat: no-repeat;
					background-position-y: center;
					
				}	
				
				.contact-item-call {
					background-image: url("../images/contact-call.png");
					    background-position-x: 8px;
				}

				.contact-item-email {
					background-image: url("../images/contact-email.png");
					    background-position-x: 8px;
				}

				.contact-item-mail {
					background-image: url("../images/contact-mail.png");
				}

				.contact-item-location {
					background-image: url("../images/contact-location.png");
					    background-position-x: 15px;
				}

				
				.social-img {
					height: 6em;
					width: 6em;
				}
				
				.social-company {
					text-align: center;
				}
				
			
				.social-img-instgram {
					background-image: url("../images/social-instagram.png");
				}
				
				.social-img-twitter {
					background-image: url("../images/social-twitter.png");
				}
				
				.social-img-youtube {
					background-image: url();
				}
			
				.panel-social a {
					text-align: center;
				}
				
				.panel-social .social-media-grid {
					display: grid;
					grid-gap: 10px;
					align-content: space-around;
				}
			
				
				
			
			.panel .panel-image img.menu-chef{
				display: none;
			}
			
			.panel .panel-image img.menu-chef-mobile {
				display: inline;
			}
			
			.panel .panel-image img.contact-location {
					display: none;
			}
			
			.panel .panel-image img.contact-location-mobile {
					width: 100%;
					height: auto;	
			}
			
			/* MENU GRID */
			.cafe-menu {
				display: grid;
				grid-template-columns: auto;
			}
			
			.footer-people-shop {
				max-width: 340px;
			}

			.footer-people-people1, .footer-people-people2 {
				display: none;
			}
			
			
			
