
			

			
			
			
			
			/*====================
				DESKTOP CSS 
				====================*/
			@media (min-width: 1024px) {
				
				.content {
					max-width: 77%;
					margin: auto;
				}
				
				a:hover {
					border-bottom: 5px solid #58391C
				}
				
				.menu-item {
					border-bottom: 5px solid transparent;
				}
				
				.menu-item:hover {
					border-bottom: 5px solid #58391C;
				}
				
				.menu-grid {
					max-width: 70%;
					margin: auto;
				}
				
				.cafe-menu {
					grid-template-columns: auto auto auto;
				}

		
				.footer-people img {
				
					width: auto;
				}
				
				.footer-people-shop {
					height: 24em;
					margin: 0em 4em 0em 4em;
					}
				
				.footer-people-people1 {
					height: 13em;
				}
				
				.footer-people-people2 {
				
					height: 14em;
				}
				

			}
			
			