
/*===========
		FONTS
	===========*/
@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa-light.ttf');
}

@font-face {
	font-family: 'Blahblahbang';
	src: url('../fonts/Blah blah bang.ttf');
}

@font-face {
	font-family: 'HomemadeApple';
	src: url('../fonts/HomemadeApple.ttf');
}

@font-face {
	font-family: 'Boulevard';
	src: url('../fonts/Boulevard Script DEMO.otf');
}