/*================
TABLET CSS 
===============*/
@media (min-width: 768px) {

.banner-logo>img {
width: 22em;
}

.menu {
position: sticky;
top: 0;
}


.menu-item {					
padding-top: 1em;
padding-bottom: 1em;
}

/*override mobile css*/
.menu-item:first-of-type, .menu-item:last-of-type {
margin: 0em;
}

.menu-banner {
display: block;
}

.mobile-menu-icon, .mobile-menu {				
display: none;
}

.menu-grid {
grid-template-columns: repeat(5, 1fr); 
margin: auto;
width: 80%;
}


.banner-logo, .banner-image {
max-width: 80%;
margin: auto;
}

.panel-writing {
padding: 1em 2em 2em 2em;
}

.panel-image {
text-align: center;
position: relative;
}


.panel-us img {
height: 25em;
width: auto;
}

.panel-waste img {
height: 25em;
width: auto;

}

.panel-content {
flex-direction: row;
}

/* special css for the menu chef overlapping the menu board*/
.panel-menu img {				
display: block;
width: auto;
height: 24em;
position: absolute;
left: 0px;
bottom: 0px;
z-index: 0;
}			


.cafe-menu {
grid-template-columns: auto auto;
color: white;
border: 22px ridge #D8C6A5;
background-color: #444;
margin-left: 10em;
margin-bottom: 3em;
padding: 0em 3em 0em 3em;

}


.panel-social .social-media-grid {
grid-template-columns: repeat(4, 1fr);
}

.panel-social .panel-content {
	flex-direction: column; /*keep this in col */
}

.panel .panel-image img.menu-chef{
display: initial;
}

.panel .panel-image img.menu-chef-mobile {
display: none;
}

.panel .panel-image img.contact-location {
display: initial;
height: auto;
width: auto;
}

.panel .panel-image img.contact-location-mobile {
display: none;
}

.footer-people-people1, .footer-people-people2 {
	display: initial;
	height: 10em;
}

}
