
			
			/*=====================
				WIDESCREEN CSS 
				=====================*/
			@media (min-width: 1440px) {		
				.content {
					max-width: 70%;	
				}
				
				.menu-grid {
					max-width: 60%;
				}
				
			}
			
			